body {
    font-family: Arial, sans-serif; /* Sets the default font for the page */
    font-size: 16px; /* Sets the default font size */
    line-height: 1.5; /* Improves readability by setting the line height */
    color: #333; /* Sets a dark gray color for the text */
    background-color: #f4f4f4; /* Sets a light gray background color */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
  }
  
  .lightMode{
    background-color: #f4f4f4;
    color: black;
  }

  .darkMode{
    background-color: #333;
    color: white;
  }

  .box{
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  button {
    display: block;
    text-align: center;
  }